.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
    height: 100vh;
    box-sizing: border-box;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar label {
    display: block;
    margin-bottom: 10px;
}

/* Contenu principal */
.main-content {
    flex: 1;
    padding: 20px;
}
