/* ----- Reset basique ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 10px;
    line-height: 1.6;
}

/* ----- Boutons ----- */
input[type="submit"] {
    background-color: #2d2d70;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #1c1c4d;
}

/* ----- Footer ----- */
footer {
    margin-top: 60px;
    text-align: center;
    padding: 20px 0;
    color: #777;
    font-size: 0.9em;
}


